services:
  postgres:
    environment:
      POSTGRES_USER: myuser
      POSTGRES_PASSWORD: mypass
      POSTGRES_DB: mydb
  web:
    image: ghcr.io/jacobwn/househub/web:${IMAGE_TAG}
    environment:
      DATABASE_URL: "postgresql://myuser:mypass@postgres:5432/mydb?schema=public"
  nginx:
    image: ghcr.io/jacobwn/househub/nginx:${IMAGE_TAG}
    ports:
      - "80:80"
    build:
      context: .
      dockerfile: infra/nginx/Dockerfile.nginx.prod