services:
  postgres:
    environment:
      POSTGRES_USER: myuser
      POSTGRES_PASSWORD: mypass
      POSTGRES_DB: mydb
    volumes:
      - ./services/db/init-test-db.sql:/docker-entrypoint-initdb.d/init.sql
  web:
    environment:
      DATABASE_URL: "postgresql://myuser:mypass@postgres:5432/mydb?schema=public"
    build:
      context: ./services/web
      dockerfile: Dockerfile.dev
    volumes:
      - ./services/web:/app 
  nginx:
    ports:
      - "8080:8080"
    volumes:
      - ./infra/nginx/nginx.common.conf:/etc/nginx/conf.d/nginx.common.conf:ro
      # default.conf overrides the default config in nginx
      - ./infra/nginx/nginx.dev.conf:/etc/nginx/conf.d/default.conf:ro
