services:
  postgres:
    image: postgres:18-bookworm
    expose:
      - "5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
  web:
    expose:
      - "3000"
    depends_on: 
      - postgres
  nginx:
    depends_on:
      - web

volumes:
  postgres_data: