name: Staging CI/CD

on:
  pull_request:
    branches:
      - main
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest
    outputs:
      image_tag: ${{ steps.set-tag.outputs.IMAGE_TAG }}
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Log in to GHCR
        uses: docker/login-action@v2
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GHCR_PAT }}

      - name: Set IMAGE_TAG from commit SHA
        id: set-tag
        run: |
          SHORT_SHA=$(echo $GITHUB_SHA | cut -c1-7)
          echo "IMAGE_TAG=$SHORT_SHA" >> $GITHUB_ENV
          echo "IMAGE_TAG=$SHORT_SHA" >> $GITHUB_OUTPUT

      - name: Build web image
        run: docker build -f ./services/web/Dockerfile.web.prod -t ghcr.io/${{ github.repository }}/web:$IMAGE_TAG ./services/web

      - name: Push web image
        run: docker push ghcr.io/${{ github.repository }}/web:$IMAGE_TAG

      - name: Build nginx image
        run: docker build -f ./infra/nginx/Dockerfile.nginx.prod -t ghcr.io/${{ github.repository }}/nginx:$IMAGE_TAG .

      - name: Push nginx image
        run: docker push ghcr.io/${{ github.repository }}/nginx:$IMAGE_TAG
  deploy-staging:
    runs-on: ubuntu-latest
    needs: build
    steps:
      - name: Trigger deploy on server
        uses: appleboy/ssh-action@v1
        with:
          host: ${{ secrets.STAGING_HOST }}
          username: ${{ secrets.STAGING_USER }}
          key: ${{ secrets.STAGING_SSH_KEY }}
          # script: /srv/househub-infra/scripts/deploy-staging.sh 3a37996
          script: /srv/househub-infra/scripts/bootstrap.sh staging ${{ needs.build.outputs.image_tag }}